#reveal-placeholder {
    // height: 700px;
    height: 70vh;
    background: $black;
    max-width: 100% !important;
    border: 4px solid yellow;
}

#album-container {
    width: 100%;
    // height: 100vh;
    background: $black;
    padding-top: 20px;
    height: 100vh;
    // height: 710px;
    position:fixed;
    bottom: 10px;
}

#table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // border: 4px solid $black;
}

#table .cell {
    width: 33.333%;
    height: 33.333%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // border: 4px solid $black;
}

// .cell .lyrics, .pic-overlay {
//     padding: 20px;
//     width: 100%;
//     height: 100%;
//     background:rgba(24,24,30, 0.8);
//     opacity: 0;
//     text-decoration: none;
//     transition: all 0.2s;
//     color: $highlight;
// }

.pic-overlay {
    padding: 20px;
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    // display: flex;
    // align-items: center;
    background:rgba(24,24,30, 0.8);
    opacity: 0;
    text-decoration: none;
    transition: all 0.2s;
    color: $highlight;
}

.overlay-lyrics {
    border: 2px solid blue;
}

.pic-overlay {
    text-align: center;
    padding: 60px 20px;
    border: 2px solid pink;
}

// .cell .lyrics:hover, .pic-overlay:hover {
//     opacity: 1;
// }

.pic-overlay:hover {
    opacity: 1;
}

.lyrics h3 {
    display: block;
}

.listen {
    display: block;
    border: 2px solid red;
    width: 100%;
}

#cell-1 {
    background: url(../images/beer-cigar.jpeg);
}

#cell-2 {
    background: url(../images/electric-guitar.jpeg);
}
#cell-3 {
    background: url(../images/adam-and-dan.jpeg);
}
#cell-4 {
    background: url(../images/piano.jpeg);
}
#cell-5 {
    background: url(../images/bong.jpeg);
}
#cell-6 {
    background: url(../images/guitar-negative.jpeg);
}
#cell-7 {
    background: url(../images/jam-session.jpeg);
}
#cell-8 {
    background: url(../images/alley.jpeg);
}
#cell-9 {
    background: url(../images/organ.jpeg);
}

@media (max-width: #{$tablet}){
    #table .cell {
        width: 50%;
        height: 25%;
    }
    .pic-overlay {
    text-align: center;
    padding: 20px;
}
    #album-container {
        max-width: 100% !important;
        border: 3px solid purple;
}
}


@media (max-width: #{$mobile}){
    #table .cell {
        width: 100%;
        max-width: 100% !important;
        border: 2px solid cornflowerblue;
        height: 20%;
        padding: 0;
        margin: 0;
    }
}


