#art-body {
    position: relative;
    height: 100%;
    border: 4px solid blue;
    background-image: url(../../art-images/tele-background.jpg);
    padding-bottom: 200px;
}

#art-main {
    // border: 4px solid purple;
    // background: $black;
    // min-height: 150vh;
    position: relative;
    padding-top: 80px;
    // background-image: url(../../art-images/tele-background.jpg);
    border: 4px solid pink;
    height: 100%;
    display: block;
}

#art-main h1 {
    color: $black;
    font-size: 3rem;
}

#art-main .wrapper {
    // border: 8px solid blue;
}

#art-gallery {
    margin-top: 10px;
    // display: block;
    // position: relative;
    border: 4px solid red;
    height: 100%;
    // min-height: 1400px;
}

// #art-gallery li {
//     height: 200px;
//     display: inline-block;
//     border: 4px solid green;
// }

#art-gallery div {
    height: 200px;
    display: inline-block;
    border: 4px solid green;
}

.art-img-container {
    height: 200px !important;
    overflow: hidden;
    position: relative;
    // display: inline-block;
    width: 32%;
    float: left;
    margin: 2px;
    overflow: hidden;
    // border: 4px solid red;
}

.art-img-container img {
    min-width: 100%;
    height: auto;
}

 #art-overlay {
     position: absolute;
     width: 100%;
     height: 100%;
    //  height: 150vh;
    //  top: 0;
     left: 0;
     bottom: 0;
    background: rgba(0, 0, 0, 0.7);
     display: none;
 }

 #art-overlay img {
     width: 500px;
     height: auto;
     max-height: calc(100vh - 160px);
     margin: 80px auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 @media (max-width: #{$tablet}){
    .art-img-container {
        width: 49%;
    }
}