#header {
      text-align: center;
      background-image: url(../images/casette.jpeg);
    height: 143vh;
    position: relative;
    z-index: 10;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 4px 10px -4px rgba(65, 64, 66, .9);
}

#dark {
    background: linear-gradient(rgba(0,0,0,0.7) calc(100% - 2px), white 2px);
    height: 100%;
}

#banner-logo {
    margin: 0 auto;
    width: 700px;
    padding-top: 55vh;
}

.album-overlay {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    position: relative;
}

.album-overlay h3 {
    color: $white;
}

#album-cover {
    max-width: 100%;
    max-height: 100%;
    border: 6px solid black;
}

.overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    transition: all .2s;
}

.overlay:hover {
    opacity: 100%;
     border: 6px solid $white;
    cursor: pointer;
}

#header #album-title {
    font-size: 2.5rem;
    font-style: italic;
    color: $highlight;
    margin-top: -15px;
}

.call-to-action {
   font-size: 1.4rem;
}

#album-anchor {
    position: absolute;
    bottom: 0;
}

@media (max-width: #{$tablet}){
   #banner-logo {
    width: 500px;
}
  #header #album-title {
        font-size: 1.7rem;
    }
}

@media (max-width: #{$mobile}){
   #banner-logo {
    width: 350px;
}
}

@media (max-width: #{$final-width}){

    #banner-logo {
        width: 300px;
    }
}