// html {
//     background: url(../../images/subway.jpg);
//     background-size: cover;
//     background-position: 10% 40%;
//     filter: grayscale(100%);
// }
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, li, ul {
    padding: 0px;
    margin: 0px;
//    font-family: 'Bebas Neue', cursive;
   font-family: 'Permanent Marker', cursive;
}

a, h3 {
    color: $white;
}

li a {
    text-decoration: none;
    font-size: 125%;
    padding: 0 5px;
    //linear gradient, from top to bottom $highlight
    background: linear-gradient(
       to bottom, $highlight  0%,
       $highlight 100%
     );
     //background position starts at the bottom and goes all the way to the right;
     background-position: 0% 100%;
     //the background is 4px wide and 4px tall
     background-size: 2px 4px;
     //background-repeats till the end;
     background-repeat: repeat-x;
     transition: all .2s;
}

li:hover a {
    background-size: 2px 60px;
    color: $black;
}

a:hover i {
    color: $highlight;
}


ul {
    list-style: none;
}

h1 {
    color: $highlight;
}

i {
    font-size: 1.5rem;
    margin: 0 10px;
    transition: all .2s;
}

.wrapper {
    width: 790px;
    margin: 0 auto;
    border: 2px solid green;
    padding: 0 2px;
}

img {
    display: block;
    width: 100%;
}


.hide-me
{
    opacity:0;
    transition: all 2s ease;
}

.show-me {
  opacity:1!important;
   transition: all 2s ease;
}

@media (max-width: #{$tablet}){
     .wrapper {
        max-width: calc(100% - 8px);
    }
    li:hover a {
    background-size: 2px 60px;
    color: $highlight;
}
}

@media (max-width: #{$mobile}){
    // .wrapper {
    //     max-width: calc(100% - 8px);
    // }
     h1, h2, h3 {
        font-size: .7rem;
    }
    p {
        font-size: .9rem;
    }
}

@media (max-width: #{$final-width}){
    .wrapper {
        width: calc(100% - 4px);
    }
}